<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/reactjs/build/forget-bundle.js"></script>
	<title>忘记密码</title>
</head>
<body >
	<div style="position:fixed; left: 30%;top: 10%">
		<div id="forget_form" ></div>
	</div>

    <% 	var email,errorMsgs%>
    <script>
        ReactComponents.forget.renderForgetBox('forget_form', "<%= email %>", <%- errorMsgs || '[]' %>)
    </script>
</body>
</html>