<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">  
	<script src="/javascripts/jquery.min.js"></script>  	
	<script src="/javascripts/bootstrap.min.js"></script> 
	<script src="/javascripts/reactjs/build/common-bundle.js"></script>
	<script src="/javascripts/reactjs/build/signup-bundle.js"></script>
	<title>注册</title>
</head>
<body >
	<div style="position:fixed; left: 30%;top: 10%">
		<div id="signup_box" />
	</div>
	<% var username, email, password, repassword, errorMsgs%>
	<script>
		ReactComponents.signup.renderSignupBox('signup_box',"<%=username%>", "<%=email%>", "<%=password%>", "<%=repassword%>", <%- errorMsgs || '[]' %>);
		$("#agreement").change(function() {
			if(this.checked) {
				$("button[type='submit']").prop('disabled', false);
			} else {
				$("button[type='submit']").prop('disabled', true);
			}
		});
	</script>

</body>
</html>