html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eceef1;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-float {
    float : none !important;;
}

#form input {
    border: 1px solid #757e91;
    border-radius: 0px;
    box-shadow: none;
    background: #eceef1;
}
.gi-x {
    font-size: 1.3em;
    margin-right: 10px;
}
.pp-menu {
   margin-top: 10px;
}

.pp-container{
    width:50%;
    margin-top:80px;
    background-color: #eee;
}

.pp-box {
    border:1px solid #757e91;
    padding:20px;
}

.pp-container-2 {
    width: 30%;
    margin-top:80px;
    border: 1px solid #aaa;
    background-color: #eceef1;
}
.pp-container-2 .alert {
    margin-top: 20px;
}

.pp-form{
 /*   margin-top: 10px; */
    padding: 30px 20px;
/*    border-right: 1px solid #aaa; */
}

.swiper-container {
    width: 100%;
    height: 500px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}