<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/jquery.min.js"></script> 
	<title>忘记密码</title>
	<script>
		$(document).ready(function(){
			// refresh captcha
			$("#captcha").click(function() {
				var captchaRefreshUrl = '/users/captcha' + '?_=' + new Date().getMilliseconds()
				$(this).attr('src', captchaRefreshUrl);
			})
		})
	</script>
</head>
<body >
	<div class="pp-container-2 container ">
		<div class="jumbotron" >
		<div class="row">
	  		<h3>取回密码</h3>
		</div>
		<% if(typeof errorMsgs !== 'undefined' && null !== errorMsgs) { %>
			<div id="errors" class="row">
				<div class="alert alert-danger">
					<% for(i= 0; i< errorMsgs.length; i++) { %>
							<div class="glyphicon glyphicon-remove-sign gi-x"></div><%= errorMsgs[i] %><br>
					<% } %>
				</div>
			</div>
		<% } %>
		<div class="row" style="margin-top: 30px">
			  <form id="form" role="form" method="post" action="/users/forget">
			    <% var email %>
			    <div class="form-group has-feedback" >
			    	<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				    <input type="text" name="email" class="form-control" placeholder="邮箱" value="<%=email %>" />
			    </div>

				<% var captcha %>
			    <div class="form-group" >
			    	<div class="row">
				    	<div class="col-sm-7">
					    	<input type="text" name="captcha" class="form-control" placeholder="验证码" value="<%=captcha%>"/>
				    	</div>
				    	<div class="col-sm-4">
				    		 <img id="captcha" src="/users/captcha" alt="正在获取验证码..." style="cursor: pointer;"
				    		 height="35px" width="110px" /> 
				    	</div>
			    	</div>
			    </div>

				<div class="text-center">
				    <button type="submit" class="btn btn-primary">
				    	<span class="glyphicon glyphicon-log-in"></span>
				    	发送邮件
				    </button>
				</div>

			  </form>
		</div>
		</div>
	</div>

</body>
</html>