<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/reactjs/build/login-bundle.js"></script>
	<title>登录</title>
</head>
<body >

	<div style="left:30%;top:10%; position:fixed">
		<div id="login_form" />
	</div>

	<% 	var username, password, rememberMe, errorMsgs%>
	<script>
		ReactComponents.login.renderLoginBox('login_form', "<%= username %>", "<%= password %>",
				"<%= rememberMe %>",  <%- errorMsgs || '[]' %> )
	</script>

</body>
</html>