<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/jquery.min.js"></script> 
	<title>重置密码</title>
</head>
<body >
	<div class="pp-container-2 container ">
		<div class="jumbotron" >
		<div class="row">
	  		<h3>重置密码</h3>
		</div>
		<% if(typeof errorMsgs !== 'undefined' && null !== errorMsgs) { %>
			<div id="errors" class="row">
				<div class="alert alert-danger">
					<% for(i= 0; i< errorMsgs.length; i++) { %>
							<div class="glyphicon glyphicon-remove-sign gi-x"></div><%= errorMsgs[i] %><br>
					<% } %>
				</div>
			</div>
		<% } %>
		<div class="row" style="margin-top: 30px">
			  <form id="form" role="form" method="post" action="/users/reset_password">

				<% var password %>
			    <div class="form-group has-feedback" >
			    	<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				    <input type="password" name="password" class="form-control" placeholder="密码(6-40位数字、英文、特殊符号)" 
				    value = "<%= password %>"/>
			    </div>

				<% var repassword %>
			    <div class="form-group has-feedback" >
			    	<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				    <input type="password" name="repassword" class="form-control" placeholder="确认密码" value = "<%=repassword%>"/>
			    </div>

				<div class="text-center">
				    <button type="submit" class="btn btn-primary">
				    	<span class="glyphicon glyphicon-log-in"></span>
				    	重置密码
				    </button>
				</div>

			  </form>
		</div>
		</div>
	</div>

</body>
</html>